node_modules
build
dist
coverage
.vscode
.idea
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.env.example
*.cache
*.eslintcache
*.prettiercache
*.yarn-integrity
*.pnp.*
*.pnp.js
*.pnp.cjs
*.pnp.mjs
*.pnp.json
*.pnp

